
  .map-section-container {
    width: 100%;
    padding-bottom: 80px;
    background-color: #494949;
    color: #e3e3e3;
  }
  .map-section-container a {
    color: #F2C200;
  }
  .map-section-container a:hover {
    color: #F2C200;
  }
  
  .map-heading {
    padding: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  .map-heading h2 {
    font-size: 55px;
  }
  
   .map-heading > h2 {
    font-size: 40px;
  }
  
  svg {
    width: 80%;
    float: center;
    padding-left: 40px;
  }
  
  g {
    position: relative;
  }
  
  .st0 {
    fill: #e3e3e3;
    stroke-width: 1px;
    stroke: #494949;
    z-index: 0;
    color: white;
  }
  
  .st0:hover {
    stroke-width: 1px;
    transition: 1s ease-out all;
    z-index: 2;
    left: 0;
    top: 0;
  }
  
  .our-member {
    fill: #F2C200;
    cursor: pointer;
  }
  
  .our-member:hover {
    fill: rgba(0, 0, 0, 0.6);
  }
  
  .mapcontainer, .detail, .map {
    box-sizing: border-box;
    position: relative;
  }
  
  .mapcontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    min-width: 90%;
    overflow: hidden;
  }
  
  .map {
    width: 100%;
    border-right: solid #e3e3e3 0.5px;
  }
  
  .detail {
    float: right;
    margin-left: 20px;
    text-align: center;
    position: relative;
  }
  .detail p {
    position: relative;
    margin-top: 120px;
  }
  
  .mapcontent {
    z-index: 1;
    width: 320px;
    display: none;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
  }
  
  .map-image {
    width: 100%;
  }
  
  .country-click {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 900px) {
    .mapcontainer {
      margin: auto;
      display: block;
      width: 95%;
    }
    .mapcontainer img {
      width: 50%;
    }
    .mapcontainer h2 {
      font-size: 20px;
    }
    .mapcontainer .map {
      display: block;
      position: relative;
      width: auto;
      height: 75vh;
      margin: auto;
      z-index: 1;
      border: none;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .mapcontainer svg {
      width: auto;
      height: 70vh;
      margin: auto;
      padding-right: 40px;
      position: relative;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .mapcontainer .detail {
      display: block;
      position: relative;
      margin: auto;
      padding: 0px;
      z-index: 0;
      text-align: center;
    }
    .mapcontainer p {
      width: 100%;
      padding-top: 0px;
      margin-top: 10px;
    }
    .mapcontainer .content {
      border-top: solid #e3e3e3 1px;
      width: 100%;
      padding-top: 0px;
    }
  }
  .note {
    padding: 10px;
  }